body {
    background: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}
body h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
body header {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
body button:hover {
    cursor: pointer;
}

.HomeScreen {
    width: 246px;
    height: 350px;
    margin: 0 auto;
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.HomeScreen h1 {
    text-align: center;
}
.HomeScreen button {
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}

.FirstScreen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 850px;
    margin-bottom: 70px;
}
.FirstScreen button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

}
.FirstScreen button h2 {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}
.FirstScreen footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:70px;
    width:100% ;
    background-color: #FFFFFF;
    bottom: 0px;
    position: fixed;
}
footer h2 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;

}
footer .images {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
footer img {
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}
.FirstScreen .Question {
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;

    padding-top: 15px;
    padding-bottom: 15px;
}

.Question h2 {
    width: 240px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.Question .vector {
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

.Question .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons .button {
    width: 85px;
    height: 37px;
    margin-bottom: 0%;
    margin-right: 10px;
    border-radius: 5px;
}
.buttons .red {
    background-color: #FF3030;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.buttons .yellow {
    background-color:#FF922E;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.buttons .green {
    background-color:#2FBE34;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Flashcard h3 {
    color: #2FBE34;
    text-decoration: line-through;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}
.Flashcard h4 {
    color: #FF922E;
    text-decoration: line-through;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}
.Flashcard h5 {
    color: #FF3030;
    text-decoration: line-through;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}
.Question h3{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}






.escondido {
    display: none;
}